#root {
  padding: 2rem;
  text-align: center;
}

.page {
  color: #fff;
  font-size: 2rem;
  font-family: monospace, Comic Sans MS;
  margin-top: 2rem;
}

.card {
  border: none;
  border-radius: 10px;
  background-color: #255429;
  width: 52vw;
  height: 62vh;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0;
}

.card h2 {
  margin-top: 20px;
}
/* Themes */
.card.teal {
  transition: all 0.3s ease;
  background-color: rgb(56, 133, 138);
}
.navbar.teal {
  background-color: rgb(32, 100, 105);
}
.card.green {
  transition: all 0.3s ease;
  background-color: #255429;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;
}

.controls button {
  margin: 0;
  font-size: 1.5rem;
  font-family: monospace, Comic Sans MS;
  background-color: #fff;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  width: 360px;
  height: 90px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.controls button:focus {
  outline: none;
  transform: scale(1.02);
  transition: transform 0.3s ease;
  box-shadow: 0 0 15px #dbdbdb;
}

.controls button:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.controls .small_button {
  width: 90px;
  height: 90px;
  margin: 0;
  background-color: #ffffff;
  color: #333;
  transition: background-color 0.3s;
}

@keyframes spacePress {
  0% {
    transform: scale(1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  50% {
    transform: scale(0.98);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}

.space-pressed {
  animation: spacePress 0.2s ease;
}


@media (max-width: 1000px) {
.card {
  width: 70vw;
  height: 62vh;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;
  width: 100%;
}

.controls button {
  font-size: 1.3rem;
  flex: 1; /* make each button grow equally */
  height: 70px;
  min-width: 0; /* prevent overflow */

}

.controls .small_button {
  flex: 0 0 70px; /* fixed size for small buttons */
  height: 70px;
}
}


@media (max-width: 700px) {
.card {
  width: 80vw;
  height: 60vh;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;
  width: 100%;
}

.controls button {
  font-size: 1.3rem;
  flex: 1; /* make each button grow equally */
  height: 70px;
  min-width: 0; /* prevent overflow */

}

.controls .small_button {
  flex: 0 0 70px; /* fixed size for small buttons */
  height: 70px;
}
}

