.settings_display {
    font-size: 6rem;
    font-weight: bold;
    color: #fff;
    margin-top: 60px;
    margin-bottom: 25px;
}

.time_input {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 6rem;
    font-weight: bold;
    color: #fff;
    background-color: transparent;
    border: none;
}

.time_input::placeholder {
    color: #fff;
    font-size: 6rem;
    font-weight: bold;
    text-align: center;
}

.error_message {
    color: #ff6464;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
    min-height: 1.5em;
}