.settings_display {
    font-size: 6rem;
    font-weight: bold;
    color: #fff;
    margin-top: 0px;
    margin-bottom: 20px;
    display: flex-start;
    gap: 20px;
}

.time_input {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 6rem;
    font-weight: bold;
    color: #fff;
    background-color: transparent;
    border: none;
}

.time_input::placeholder {
    color: #fff;
    opacity: 0.8;
    font-size: 6rem;
    font-weight: bold;
    text-align: center;
}

.error_message {
    color: #ff6464;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
    min-height: 1.5em;
}

.pomodoro {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 10px;
}

.pomodoro_button {
    margin: 5px;
    font-size: 1.5rem;
    font-family: monospace, Comic Sans MS;
    background-color: #fff;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    width: 200px;
    height: 50px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.pomodoro_button.active {
    background-color: #676767;
    color: white;
    transform: scale(1.02);
}

.pomodoro_button:hover {
    transform: scale(1.05);
}

.pomodoro_button:active {
    transform: scale(0.95);
}