.timer_display {
  font-size: 6rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 0px;
}
.bell_icon {
  margin-top: 3px;
  height: 25px;
  width: auto;
  display: inline-block;
  vertical-align: middle;
  filter: brightness(0) invert(1);
}

.end_time {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 0px;
  opacity: 0.6;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25em;
}

.disclaimer{
  font-family: monospace, Comic Sans MS;
  font-weight: bold;
  padding: 7px;
  font-size: 1rem;
  opacity: 0.6;
}

.pomodoro {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 10px;
}

.pomodoro_button {
  margin: 5px;
  font-size: 1.5rem;
  font-family: monospace, Comic Sans MS;
  background-color: #fff;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  width: 200px;
  height: 50px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.pomodoro_button.active {
  background-color: #676767;
  color: white;
  transform: scale(1.02);
}

.pomodoro_button:hover {
  transform: scale(1.05);
}

.pomodoro_button:active {
  transform: scale(0.95);
}

@media (max-width: 600px) {
  .timer_display {
    font-size: 5rem;
  }
  .pomodoro_button {
  width: 30vw;
  height: 50px;
}
  .disclaimer {
    font-size: 0.9rem;
  }
}

@media (max-width: 500px) {
  .timer_display {
    font-size: 4rem;
  }
}